<div *ngIf="issloading==false">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nueva sucursal</mat-card-title>
      <mat-card-subtitle>Resgistrar de sucursales</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="profileForm">
      <mat-card-content>
        <p>
          Una sucursal es una salida de una empresa o, más en general, una organización que,
          a diferencia de una subsidiaria, no constituye una entidad legal separada, mientras que
          está físicamente separada de la oficina principal de la organización
        </p>
        <p>DATOS DE LA SUCURSAL:</p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Nombre:</mat-label>
          <input matInput placeholder="Placeholder" formControlName="nombre" [(ngModel)]="sucursal.nombre">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Dirección</mat-label>
          <input matInput placeholder="Placeholder" formControlName="direccion" [(ngModel)]="sucursal.direccion">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Placeholder" formControlName="telefono" [(ngModel)]="sucursal.telefono">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-raised-button color="warn" (click)="guardarSucursales(sucursal)" [disabled]="profileForm.invalid">GUARDAR SUCURSAL</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
