<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<header>
  <mat-toolbar [ngSwitch]="loging">
    <img src="assets/images/HealthyPlusV2.png" width="40px" style="margin-right: 2px">
    <span [routerLink]="['/inicio']">Healthy Plus</span>
    <strong style="margin-left: 2px; color: #77d977; font-size: x-large">+</strong>
    <span class="example-spacer"></span>
    <div class="example-button-container">
      <button class="botton-header" mat-stroked-button color="accent" [routerLink]="['/inicio']">
        <mat-icon>home</mat-icon>
        CASA
      </button>
      <button class="botton-header" mat-stroked-button color="accent" [routerLink]="['/inicio/noticias']">
        <mat-icon>fiber_new</mat-icon>
        NOTICAS
      </button>
      <button class="botton-header" mat-stroked-button color="accent" [routerLink]="['/inicio/quienes-somos']">
        <mat-icon>import_contacts</mat-icon>
        QUIENES SOMOS
      </button>
      <button class="botton-header" mat-stroked-button color="accent" [routerLink]="['/inicio/contactanos']">
        <mat-icon>contacts</mat-icon>
        CONTACTENOS
      </button>
      <!--ADMINISTRADOR-->
      <button mat-raised-button color="warn" [matMenuTriggerFor]="option" *ngSwitchCase="'AD'">
        <mat-icon>reorder</mat-icon>
        ADMINISTRAR
      </button>
      <mat-menu #option="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="sucural">SUCURSALES</button>
        <button mat-menu-item [matMenuTriggerFor]="horarios">HORARIOS</button>
        <button mat-menu-item [matMenuTriggerFor]="espacialidad">ESPECIALIDADES</button>
        <button mat-menu-item [matMenuTriggerFor]="usuarios">USUARIOS</button>
      </mat-menu>
      <mat-menu #sucural="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/nuevesucursal','?']">NUEVA SUCURSAL</button>
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/versucursales']">VER SUCURSALES</button>
      </mat-menu>
      <mat-menu #horarios="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/nuevohorario','?']">NUEVO HORARIOS</button>
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/verhorario']">VER HORARIOS</button>
      </mat-menu>
      <mat-menu #espacialidad="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/nuevoespacilidad','?']">NUEVA ESPACEILIDAD</button>
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/verespacilidad']">VER ESPECILIDADES</button>
      </mat-menu>
      <mat-menu #usuarios="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="medico">MEDICOS</button>
        <button mat-menu-item [matMenuTriggerFor]="paciente">PACIENTE</button>
      </mat-menu>
      <mat-menu #medico="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/nuevomedico']">REGISTRAR MEDICO</button>
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/vermedico']">VER MEDICOS</button>
      </mat-menu>
      <mat-menu #paciente="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/adminstradar/verpaciente']">VER PASIENTES</button>
      </mat-menu>
      <!-- FIN ADMINISTRADOR-->
      <!--PACIENTE-->
      <button mat-raised-button color="accent" [matMenuTriggerFor]="citas" *ngSwitchCase="'PA'" style="margin-left: 5px">
        Citas
      </button>
      <mat-menu #citas="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/inicarsesion/nuevacita',usuario.id]">Nueva citas</button>
        <button mat-menu-item [routerLink]="['/inicio/inicarsesion/vercitas',usuario.id]">Ver citas enviadas</button>
      </mat-menu>
      <button mat-raised-button color="warn" [matMenuTriggerFor]="consultas" *ngSwitchCase="'PA'" style="margin-left: 5px">
        Concultas
      </button>
      <mat-menu #consultas="matMenu">
        <button mat-menu-item  [routerLink]="['/inicio/inicarsesion/verresultados',usuario.id]">Ver resultados de consultas</button>
      </mat-menu>
      <!-- FIN PACIENTE-->
      <!--DOCTOR-->
      <button mat-raised-button color="accent" [matMenuTriggerFor]="citasdo" *ngSwitchCase="'DO'" style="margin-left: 5px">
        Citas y Consultas
      </button>
      <mat-menu #citasdo="matMenu">
        <button mat-menu-item [routerLink]="['/inicio/inicarsesion/vercitas2',usuario.id]">Ver citas y generar consultas</button>
      </mat-menu>
      <button mat-raised-button color="warn" [matMenuTriggerFor]="consultasdo" *ngSwitchCase="'DO'" style="margin-left: 5px">
        Concultas
      </button>
      <mat-menu #consultasdo="matMenu">
        <button mat-menu-item  [routerLink]="['/inicio/inicarsesion/verconsulta',usuario.id]">Ver consultas relizadas</button>
      </mat-menu>
      <!-- FIN DOCTOR-->
    </div>
    <button *ngSwitchCase="'ND'"mat-button color="primary" [routerLink]="['/inicio/inicarsesion']">
      <mat-icon>supervised_user_circle</mat-icon>
      INICIAR SESION
    </button>
    <!-- FIN ADMINISTRADOR-->
    <button *ngSwitchCase="'AD'" mat-button color="primary"  [matMenuTriggerFor]="user">
      <mat-icon>supervised_user_circle</mat-icon>
      {{usuario.nombres_completos}}
    </button>
    <mat-menu #user="matMenu">
      <button mat-menu-item (click)="cerrarSesion()">
        CERRAR SESIÓN
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
    <!--FIN ADMINISTRADOR-->
    <!-- FIN PACIENTE-->
    <button *ngSwitchCase="'PA'" mat-button color="primary"  [matMenuTriggerFor]="userpa">
      <mat-icon>supervised_user_circle</mat-icon>
      {{usuario.nombres_completos}}
    </button>
    <mat-menu #userpa="matMenu">
      <button mat-menu-item (click)="editarCuentaPacinte(usuario.id+'')">
        CUENTA
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <button mat-menu-item (click)="cerrarSesion()">
        CERRAR SESIÓN
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
    <!-- FIN PACIENTE-->
    <!-- DOCTOR-->
    <button *ngSwitchCase="'DO'" mat-button color="primary"  [matMenuTriggerFor]="userdo">
      <mat-icon>supervised_user_circle</mat-icon>
      {{usuario.nombres_completos}}
    </button>
    <mat-menu #userdo="matMenu">
      <button mat-menu-item (click)="editarCuentaDoctor(usuario.id+'')">
        CUENTA
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <button mat-menu-item (click)="cerrarSesion()">
        CERRAR SESIÓN
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-menu>
    <!-- FIN DOCTOR-->
  </mat-toolbar>
</header>
<body>
<router-outlet></router-outlet>
</body>
<footer>
  <mat-toolbar>
    <span>My Applicatiodsfn</span>
  </mat-toolbar>
</footer>
</html>


