<div *ngIf="issloading==false">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Nuevo paciente</mat-card-title>
      <mat-card-subtitle>Datos del paciente</mat-card-subtitle>
    </mat-card-header>
    <form  [formGroup]="profileFormPaciente">
      <mat-card-content>
        <mat-grid-list cols="3" rowHeight="5:1">
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Cédula</mat-label>
              <input matInput placeholder="Ex.012445786" formControlName="cedula" [(ngModel)]="usuario.cedula">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Nombres completos</mat-label>
              <input matInput placeholder="Ex.Jaime Alvarado" formControlName="nombre" [(ngModel)]="usuario.nombres_completos">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Dirección</mat-label>
              <input matInput placeholder="Ex.Americas"  formControlName="direccion" [(ngModel)]="usuario.direccion">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Sexo</mat-label>
              <mat-select  formControlName="sexo" [(ngModel)]="usuario.sexo">
                <mat-option value="M">MASCULINO</mat-option>
                <mat-option value="F">FEMENINO</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Teléfono</mat-label>
              <input matInput placeholder="Ex.032148484"  formControlName="telefono"  [(ngModel)]="usuario.telefono">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field  appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker"  formControlName="nacimiento" [(ngModel)]="usuario.fecha_nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ex.ejemplo@gmail.com"  formControlName="correo" [(ngModel)]="usuario.correo">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Contraseña</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'"   formControlName="contra" [(ngModel)]="usuario.clave">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Tipo de sangre</mat-label>
              <mat-select  formControlName="sangre"  [(ngModel)]="paciente.tipo_sangre">
                <mat-option value="A+">A+</mat-option>
                <mat-option value="O+">O+</mat-option>
                <mat-option value="B+">B+</mat-option>
                <mat-option value="AB+">AB+</mat-option>
                <mat-option value="O-">O-</mat-option>
                <mat-option value="B-">B-</mat-option>
                <mat-option value="AB-">AB-</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Ocupación</mat-label>
              <input matInput placeholder="Ex.Jefe" formControlName="ocupacion" [(ngModel)]="paciente.ocupacion">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
              <mat-label>Estado civil</mat-label>
              <mat-select  [(ngModel)]="paciente.estado_civil" formControlName="estado">
                <mat-option value="CASADO">CASADO</mat-option>
                <mat-option value="DIVORCIADO">DIVORCIADO</mat-option>
                <mat-option value="VIUDO">VIUDO</mat-option>
                <mat-option value="SOLTERO">SOLTERO</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-card-actions style="width: 100%; text-align: center">
          <button *ngIf="accion==true" mat-raised-button color="accent" (click)="registrarUsuario(usuario,paciente)" [disabled]="profileFormPaciente.invalid">REGISTRASE</button>
          <button *ngIf="accion==false" mat-raised-button color="accent" (click)="editarUsuario(usuario,paciente)" [disabled]="profileFormPaciente.invalid">GUARDAR</button>
        </mat-card-actions>
      </mat-card-content>
    </form>
  </mat-card>
</div>

<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
