<div *ngIf="issloading==false">
  <body>
  <section id="quienes">
    <div class="container">
      <div class="img-container"></div>
      <div class="texto">

        <h2> Departamento de Salud rindió cuentas de su gestión</h2>
        <p>En el 2021 el departamento de salud, continuó con los avances en todas las líneas de trabajo, logrando fortalecer el sistema sanitario de la región en medio de pandemia por COVID-19.
          El exhaustivo trabajo por parte de todos los profesionales adscritos a la institución, le permitieron ser reconocido por el Instituto Nacional de Salud, con un premio especial debido a la gestión que  realizó en referencia a la vigilancia de la salud pública, con relación a la pandemia.</p>
        <p>
          Los recursos aportados por la Gobernación del departamento, en cabeza del gobernador Silvano Serrano, fueron claves para alcanzar las metas propuestas en las diferentes dimensiones a lo largo del año. Salud ambiental, Vida Saludable, Sexualidad, Convivencia Social y Salud Mental, Nutrición, Control de Medicamentos, Enfermedades transmisibles y no transmisibles, Zoonosis, y el Laboratorio de Salud Pública, son parte de las líneas de trabajo en las cuales se logró impactar en los 40 municipios del departamento.
        </p>
      </div>

    </div>

  </section>

  <section id="quienes">
    <div class="container">

      <div class="texto">

        <h2> Bendición de la nueva ambulancia de la clinica</h2>
        <p>El pasado viernes 12 de febrero se llevó a cabo la bendición de la nueva ambulancia de la clinica, que está dotada con tecnología de punta y prestará su servicio a la región las 24 horas, los 365 días del año.

          Al evento asistieron miembros del directorio, Médicos de Staff , personal Administrativo y Asistencial de nuestra Institución.</p>
        <p>
          Una ambulancia UTIM (Unidad de alta complejidad para atenciones de emergencias) es la que se utiliza para atender mientras se traslada al paciente que corre serio riesgo de vida. Esto es cuando se considera su sintomatología como emergencia médica o Código Rojo.
          Este tipo de vehículo normalmente contiene los equipos médicos necesarios para cualquier emergencia tales como: electrocardiógrafo; glucómetro; otoscopio; cardio desfibrilador; respirador; tubos de oxígeno; kits de cirugía, de trauma, de vía aérea entre otros.
          ◾ATS Se trata de una ambulancia de traslado simple que son las encargadas del transporte de pacientes que no necesitan atención urgente.
          Puede transportar un solo paciente en camilla. O puede ser de transporte colectivo, especialmente acondicionada para llevar varias personas que no revisten gravedad.
        </p>

      </div>
      <div class="img-containerDos"></div>

    </div>

  </section>

  <section id="quienes">
    <div class="container">
      <div class="img-containerTres"></div>
      <div class="texto">

        <h2> Nuevos quirófanos</h2>
        <p>Como parte de la nueva infraestructura de Healthy Plus y pensando siempre en el beneficio y cuidado de nuestros pacientes, presentamos los nuevos quirófanos  de Healthy Plus, equipados con tecnología de última generación y a la altura de los grandes hospitales internacionales.</p>
        <p>
          Ahora contamos con:
          6 quirófanos de especialidades
          1 sala de partos
          2 quirófanos de Oftalmología
          2 salas de Endoscopia
          2 salas de Hemodinamia

          Nuestra responsabilidad y compromiso se ven reflejados en nuestros proyectos en pro de la salud.
        </p>

      </div>

    </div>

  </section>




  </body>
  <!--Pie de Pagina---html-->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <h2>DIRECCION</h2>
        <p>Av del tejar y camino a racar
          Tel/cel: (02)234020/(+593) 0991856543
          Correo:healthyplusc171@gmail.com</p>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Healthy Plus + es una clinica fundada en el año 1999, con la directriz
          de brindar servicios de salud  con excelencia y calidad
          con la garantia de nuestro personal medico.</p>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="#" class="footer__icons"><img src="../assets/images/facebook.svg" class="footer__img"></a>
          <a href="#" class="footer__icons"><img src="../assets/images/twitter.svg" class="footer__img"></a>
        </div>
      </div>
    </div>
  </footer>

</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
