*{
    box-sizing: border-box;
  font-size: large;
  }

  html{
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    margin: 0;
  }

#emergencias{
    background-color: rgb(255,255,255);
}
#emergencias .container{
    text-align: center;
    padding: 200px 12px;
}
@media (min-width: 850px){


    #emergencias .container{
        display: flex;
        justify-content: space-evenly;
    }

    #emergencias .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #emergencias h2{
        margin-top: 0px;
    }

    #emergencias .img-container{
        background-image: url("https://www.eluniverso.com/resizer/-sfNYzltD_J979cmAcZzRoGYo48=/1033x670/smart/filters:quality(70)/cloudfront-us-east-1.images.arcpublishing.com/eluniverso/ABNUL53M4VFKDJ2DTEADTZKXM4.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
    }


  }
/*::css:::Pie de Pagina :::*/
.pie-pagina{
  width: 100%;
  background-color: rgb(30,30,30);
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: rgb(30,30,30);
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  color: aqua;
}
.pie-pagina .grupo-2{
  background-color: rgb(30,30,30);
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:30px;
    padding: 35px 0px;
  }
}
