<div *ngIf="issloading==false">
  <section id="cuidado">
    <div class="container">
      <div class="img-container"></div>
      <div class="texto">

        <h2>Unidad de Cuidados Intensivos</h2>
        <p>HealthyPlus cuenta con una renovada Area de Cuidados Intensivos monitorizada las 24 horas y equipada con tecnología de punta que nos permite servir al paciente de mejor manera aportando su seguridad. Se dispone de 7 unidades en las cuales 3 unidades tiene presiones positivas y negativas para aislamiento cuando se requiera.

          La Unidad de Cuidados Intensivos abarca diferentes especializaciones:

          Atención del paciente crítico
          Aislamiento
          Cuidados críticos coronarios
          Cuidados intensivos del adulto
          Quemaduras
          Diálisis
        </p>
      </div>
    </div>

  </section>
  <!--Pie de Pagina---html-->
  <footer class="pie-pagina">
    <div class="grupo-1">
      <div class="box">
        <h2>DIRECCION</h2>
        <p>Av del tejar y camino a racar
          Tel/cel: (02)234020/(+593) 0991856543
          Correo:healthyplusc171@gmail.com</p>
      </div>
      <div class="box">
        <h2>SOBRE NOSOTROS</h2>
        <p>Healthy Plus + es una clinica fundada en el año 1999, con la directriz
          de brindar servicios de salud  con excelencia y calidad
          con la garantia de nuestro personal medico.</p>
      </div>
      <div class="box">
        <h2>SIGUENOS</h2>
        <div class="red-social">
          <a href="#" class="footer__icons"><img src="../assets/images/facebook.svg" class="footer__img"></a>
          <a href="#" class="footer__icons"><img src="../assets/images/twitter.svg" class="footer__img"></a>
        </div>
      </div>
    </div>
  </footer>
</div>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
