<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body *ngIf="issloading==false">
    <body>
        <section id="contactos">
            <div class="content">

                <h1 class="logo">Contactanos</h1>

                <div class="contact-wrapper animated bounceInUp">
                    <div class="contact-form">

                        <form action="https://formsubmit.co/osoft035@gmail.com" method="POST">
                            <p>
                                <label>Nombre</label>
                                <input type="text" name="nombre">
                            </p>
                            <p>
                                <label>Email</label>
                                <input type="email" name="email">
                            </p>
                            <p>
                                <label>Numero Tel/cel</label>
                                <input type="tel" name="telefono">
                            </p>
                            <p>
                                <label>Asunto</label>
                                <input type="text" name="asunto">
                            </p>
                            <p class="block">
                               <label>Mensaje</label>
                                <textarea name="mensaje" rows="3"></textarea>
                            </p>
                            <p class="block">
                                <button type="submit">
                                    Enviar
                                </button>
                            </p>
                        </form>
                    </div>
                    <div class="contact-info">
                        <h4>Mas informacion</h4>
                        <ul>
                            <li><i class="fas fa-map-marker-alt"></i>Direccion:Av del tejar y camino a racar</li>
                            <li><i class="fas fa-phone"></i>Tel/cel: (02)234020/(+593) 0991856543</li>
                            <li><i class="fas fa-envelope-open-text"></i> Correo:healthyplusc171@gmail.com</li>
                        </ul>
                        <p>Si requiere que alguien de nuestro personal se ponga en contacto con usted,porfavor rellenar el
                            siguiente formulario y alquien de  nuestros  equipo de trabajo se pondra en contacto con usted tam pronto como  sea posible
                            </p>
                        <p>Healthy Plus +</p>
                    </div>
                </div>

            </div>
            <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.7575569971905!2d-79.04012194928184!3d-2.886124097887509!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91cd22ade92364cd%3A0x2265fef423fefdd3!2sAv.%20del%20Tejar%2C%20Cuenca!5e0!3m2!1ses!2sec!4v1649471485206!5m2!1ses!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>


        </section>
    </body>
</body>
<ng-container *ngIf="issloading">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>
</html>
